* {
    font-family: "roboto", "Times New Roman", sans-serif;
    text-align: center;
    margin: 0px;
    border: 0px;
    background: #36454F;
    color: #F9FAF8;
}

.header-bar {
    display: flex;
    flex: 1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #1F2937;
    z-index: 9;
}

.header-logo-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    background: #1F2937;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    background: #1F2937;
}

.header-link {
    text-decoration: none;
    background: #1F2937;
}

.header-link:hover {
    color: #6082B6;
    text-shadow: 0 0 5px lightblue;
}

.welcome-section {
    position: relative;
}

.welcome-container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    width: 60%;
    padding: 2em;
    margin: 200px auto;
    border-radius: 2em;
    box-shadow: 0 0 2em #6082B6;
}

.introduction {
    font-size: 36px;
    text-align: left;
}

.introduction-image {
    border-radius: 50%;
}

.image-section {
    /* position: relative; */
}

.image-title {
    display: flex;
    flex: 1;
    justify-content: center;
    background: white;
}

.image-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.rounded-image {
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.quote-text div {
    max-width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25%;
    justify-content: center;
}

.quote-text h6 {
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    background: #3882F6;
    color: #E5E7EB;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 15px;
}

.call-to-action h2 {
    background: #3882F6;
    text-align: left;
    padding-left: 20%;
}

.call-to-action p {
    background: #3882F6;
    text-align: left;
    padding-left: 20%;
}

.call-to-action a {
    background: #3882F6;
    border: solid white 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}