* {
    font-family: "roboto", "Times New Roman", sans-serif;
    text-align: center;
    margin: 0px;
    border: 0px;
    background: #36454F;
    color: #F9FAF8;
}

.header-bar {
    display: flex;
    flex: 1;
    position: fixed;
    width: 100%;
    background: #1F2937;
    min-height: 50px;
}

.header-logo-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    background: #1F2937;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    background: #1F2937;
}

.header-link {
    text-decoration: none;
    background: #1F2937;
}

.header-link:hover {
    color: blue;
    text-shadow: 0 0 5px lightblue;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.quote-text div {
    max-width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25%;
    justify-content: center;
}

.quote-text h6 {
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    background: #3882F6;
    color: #E5E7EB;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 15px;
    justify-content: center;
}

.call-to-action h2 {
    background: #3882F6;
    text-align: left;
    padding-left: 20%;
}

.call-to-action p {
    background: #3882F6;
    text-align: left;
    padding-left: 20%;
}

.call-to-action a {
    background: #3882F6;
    border: solid white 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.rounded-image {
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.flex-container {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.flex-container div {
    flex: 1 1 0%;
    padding: 5px;
}
